:root {
  font-family: Helvetica, Arial, sans-serif;
  --gray: #202020;
  --light-gray: #707070;
  --shadow: 0px 0px 8px var(--gray);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  flex-direction: column;
}

body {
  display: flex;
}

.header {
  display: grid;
  grid-template-columns: 16rem 1fr;
  box-shadow: var(--shadow);
}

.logo-container {
  display: flex;
  padding: 16px;
  justify-self: center;
}

.logo-container > * {
  align-self: center;
}

.logo-container img {
  padding: 8px;
  width: auto;
  height: 75px;
}

.logo-container p {
  padding: 16px;
  font-size: 1.4rem;
}

.main {
  width: 80%;
  flex: 1;
  display: grid;
  grid-template-columns: 16rem 1fr;
}

nav {
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 8px;
}

nav > * {
  padding: 8px;
}

.project-button {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: left;
  font-size: 1rem;
  gap: 8px;
  border: none;
  border-radius: 5px;
  color: var(--gray);
  cursor: pointer;
}

nav > h1 {
  font-size: 1.2rem;
}

.project-container {
  display: grid;
  grid-template-columns: 1fr;
  padding: 16px;
}

.project-container > h1,
.project-container > input {
  grid-area: 1 / 1;
  margin: 16px;
  font-size: 1.4rem;
}

.project-container > h1 {
  cursor: pointer;
}

.task-container {
  display: grid;
  grid-template:
    'input title' 1fr
    'none due' 1fr / 1.5rem 1fr;
  align-items: center;
  padding: 8px;
  opacity: 1;
  transition: 1.5s;
}

.fading {
  opacity: 0;
  translate: 100%;
}

.task-container > h2,
.task-container > input {
  grid-area: title;
  font-size: 1rem;
}

.task-container > h2 {
  cursor: pointer;
  font-weight: 400;
}

.task-container .task-due {
  grid-area: due;
  font-size: 0.7rem;
}

.checkbox-container {
  grid-area: input;
  position: relative;
}

.checkbox-container label {
  background-color: #fff;
  border: 2px solid violet;
  border-radius: 50%;
  cursor: pointer;
  height: 1.1rem;
  width: 1.1rem;
  position: absolute;
  left: 0;
  top: 0;
}

.checkbox-container input[type='checkbox'] {
  visibility: hidden;
}

.checkbox-container input[type='checkbox']:checked + label {
  background-color: #66bb6a;
  border-color: #66bb6a;
}

.add-button {
  font-size: 1rem;
  text-align: left;
  border: none;
  border-radius: 5px;
  padding: 8px;
  color: var(--light-gray);
  cursor: pointer;
}

.add-button:hover,
.project-button:hover {
  filter: brightness(90%);
}

.add-button:active,
.project-button:active,
.main .current-selected-project {
  filter: brightness(80%);
}

.project-button img {
  width: auto;
  height: 1.5rem;
}

.footer {
  display: flex;
  padding: 16px;
  justify-content: center;
}
