:root {
  font-family: Helvetica, Arial, sans-serif;
  --gray: #202020;
  --shadow: 0px 0px 8px var(--gray);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  flex-direction: column;
}

body {
  display: flex;
}

.header {
  display: grid;
  grid-template-columns: 16rem 1fr;
  box-shadow: var(--shadow);
}

.logo-container {
  display: flex;
  padding: 16px;
  justify-self: center;
}

.logo-container > * {
  align-self: center;
}

.logo-container img {
  padding: 8px;
  width: auto;
  height: 75px;
}

.logo-container p {
  padding: 16px;
  font-size: 1.4rem;
}

.main {
  flex: 1;
  display: grid;
  grid-template-columns: 16rem 1fr;
}

.project-container {
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.project-container > p {
  padding: 16px;
}

.task-container {
  display: grid;
  grid-template:
    'input title' 1fr
    'none due' 1fr / 1.5rem 1fr;
  align-items: center;
  padding: 8px;
}

.task-container .task-title {
  grid-area: title;
  font-size: 1rem;
}

.task-container .task-due {
  grid-area: due;
  font-size: 0.7rem;
}

.checkbox-container {
  grid-area: input;
  position: relative;
}

.checkbox-container label {
  background-color: #fff;
  border: 2px solid violet;
  border-radius: 50%;
  cursor: pointer;
  height: 1.1rem;
  width: 1.1rem;
  position: absolute;
  left: 0;
  top: 0;
}

.checkbox-container input[type='checkbox'] {
  visibility: hidden;
}

.checkbox-container input[type='checkbox']:checked + label {
  background-color: #66bb6a;
  border-color: #66bb6a;
}

.footer {
  display: flex;
  padding: 16px;
  justify-content: center;
}
