:root {
  font-family: Helvetica, Arial, sans-serif;
  --steven: #f66fb2;
  --garnet: #9a2a2a;
  --pearl: #6fcfa4;
  --amethyst: #9966cc;
  --bismuth: #762041;
  --lapis: #26619c;
  --peridot: #b4c424;
  --ruby: #ae001a;
  --sapphire: #568cf5;
  --shadow: 0px 0px 8px var(--bismuth);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  flex-direction: column;
  display: flex;
}

.header {
  display: grid;
  grid-template-columns: 16rem 1fr;
  box-shadow: var(--shadow);
}

.logo-container {
  display: flex;
  padding: 16px;
  justify-self: center;
}

.logo-container > * {
  align-self: center;
}

.logo-container img {
  padding: 8px;
  width: auto;
  height: 75px;
}

.logo-container p {
  padding: 16px;
  font-size: 1.4rem;
}

.main {
  width: 80%;
  flex: 1;
  display: grid;
  grid-template-columns: 16rem 1fr;
}

nav {
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 8px;
}

nav > * {
  padding: 8px;
}

@keyframes allTasksTrans {
  0% {
    transform: translateY(60%);
    opacity: 0;
  }

  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

.all-tasks {
  animation: 0.5s ease-out 0s 1 allTasksTrans;
}

.project-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
  gap: 8px;
  border: none;
  border-radius: 5px;
  color: var(--bismuth);
  cursor: pointer;
}

.project-button.default-project {
  flex-direction: row-reverse;
  justify-content: left;
}

.project-button img {
  width: auto;
  height: 1.5rem;
}

nav > h1 {
  font-size: 1.2rem;
}

.project-container {
  display: grid;
  grid-template-columns: 1fr;
  padding: 16px;
}

.project-container > h1,
.project-container > input {
  grid-area: 1 / 1;
  margin: 16px 8px;
  font-size: 1.4rem;
}

.project-container > h1 {
  cursor: pointer;
}

.task-container {
  display: grid;
  grid-template:
    'input title delete' 1fr
    '. due .' 1fr / 1.5rem 1fr 1rem;
  align-items: center;
  padding: 8px;
}

@keyframes taskCompletedTrans {
  0% {
    transform: translateX(0%);
    opacity: 1;
  }

  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}

.fade-out {
  animation: 1.25s ease-out 0s 1 taskCompletedTrans;
}

@keyframes taskCreatedTrans {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

.fade-in {
  animation: 0.75s ease-in 0s 1 taskCreatedTrans;
}

@keyframes deletedTrans {
  0% {
    transform: translateY(0%);
    opacity: 1;
  }

  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
}

.fade-out-deleted {
  animation: 1.25s ease-out 0s 1 deletedTrans;
}

.task-container > h2,
.task-container > input {
  grid-area: title;
  font-size: 1rem;
}

.task-container > h2 {
  cursor: pointer;
  font-weight: 400;
}

.project-button > button,
.task-container > button {
  cursor: pointer;
  color: var(--ruby);
  border: none;
  font-size: 1rem;
}

.task-container > button,
.project-button > button {
  visibility: hidden;
}

.task-container:hover > button,
.project-button:hover > button {
  visibility: visible;
}

.project-button.fade-out-deleted > button,
.task-container.fade-out-deleted > button {
  color: var(--sapphire);
}

.task-container .task-due {
  grid-area: due;
  font-size: 0.7rem;
}

.checkbox-container {
  grid-area: input;
  position: relative;
}

.checkbox-container label {
  background-color: #ffffff;
  border: 2px solid var(--lapis);
  border-radius: 50%;
  cursor: pointer;
  height: 1.1rem;
  width: 1.1rem;
  position: absolute;
  left: 0;
  top: 0;
}

.checkbox-container input[type='checkbox'] {
  visibility: hidden;
}

.checkbox-container input[type='checkbox']:checked + label {
  background-color: var(--peridot);
  border-color: var(--peridot);
}

.add-button {
  font-size: 1rem;
  text-align: left;
  border: none;
  border-radius: 5px;
  padding: 8px;
  color: var(--bismuth);
  cursor: pointer;
}

.add-button:hover,
.project-button:hover {
  filter: brightness(90%);
}

.add-button:active,
.project-button:active,
.main .current-selected-project {
  filter: brightness(80%);
}

.footer {
  display: flex;
  padding: 16px;
  justify-content: center;
}
